body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
    
}

button.remove {
    background-color: #c20000;
    border-radius: 300px;
    margin-right: 40px;
}

button.remove:hover {
    background-color: #FF6347;
    border-radius: 300px;
}
.fa {
    font-size: 18px;
}

.my-4 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

#cart-items {
    list-style-type: none; 
    padding: 0; 
}

#cart-items li {
    padding: 0;
    margin: 0; 
}

.b-final{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
   
}

.b-menos{
    border-radius: 80px;
    margin-right: 7px;
    margin-left: 5px;
}

.b-mais{
    border-radius: 80px;
    margin-left: 40px;
    margin-right: 5px;
}
