body {
    font-family: Arial, sans-serif;
}

.payment-methods {
    margin-bottom: 0px;
}

.payment-details {
    display: none;
    margin-bottom: 20px;
    
}

.form-group {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
}

input[type="text"] {
    margin-bottom: 15px;
}

button[type="submit"] {
    align-self: center;
}

.container {
    width: 80%;
    max-width: 800px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
   }

.btn-primary {
    width: 100%;
    margin-top: 15px;
   }

   .mensagem-sucesso {
    display: none;
    position: fixed;
    top: 50px; /* Ajuste a posição vertical da mensagem conforme desejado */
    left: 50%; /* Posicionando a mensagem no centro horizontalmente */
    transform: translateX(-50%);
    background-color: #b6ffbb;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 999; /* Certifique-se de que o z-index seja alto para sobrepor outros elementos */
  }